.start-page {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 60px;
    width: 100%;
    height: 100%;
    &__logo {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        @media only screen and (0 <= width <= 389px) {
            img {
                width: 290px;
            }
        }
    }
    &__logo-title {
        position: relative;
        width: 100%;
        font-family: 'Sonic Logo';
        font-size: 34px;
        text-align: center;
        margin-top: -60px;
        text-shadow: 3px 0 3px #2358f7, 
            0 3px 3px #4470F1, 
            -3px 0 3px #4470F1, 
            0 -3px 3px #4470F1;
        color: #f1e20a;
        @media only screen and (0 <= width <= 389px) {
            font-size: 26px;
        }
    }
    &__btns {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 12px;
    }
    &__version {
        position: absolute;
        bottom: 14px;
        font-family: 'Lack';
        left: 0;
        text-align: center;
        width: 100%;
        opacity: 0.4;
        font-size: 12px;
    }
}