.start-page {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 60px;
    width: 100%;
    height: 100%;
    &__logo {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        @media only screen and (0 <= width <= 389px) {
            img {
                width: 290px;
            }
        }
    }
    &__logo-title {
        position: relative;
        width: 100%;
        font-family: 'Sonic Logo';
        font-size: 34px;
        text-align: center;
        margin-top: -60px;
        text-shadow: 3px 0 3px #2358f7, 
            0 3px 3px #4470F1, 
            -3px 0 3px #4470F1, 
            0 -3px 3px #4470F1;
        color: #f1e20a;
        @media only screen and (0 <= width <= 389px) {
            font-size: 26px;
        }
    }
    &__btns {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    &__btn {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-bottom: 2px solid #7c0909;
        background-color: #e5001c;
        border-radius: 10px;
        width: 190px;
        height: 60px;
        font-family: 'Sonic Logo';
        font-size: 16px;
        text-align: center;
        color: #fff;
        transition: all 0.15s;
        &:active {
            transform: scale(0.92, 0.92);
        }
        &_store {
            background-color: #1c3ca1;
            border-bottom: 2px solid #121727;
        }
    }
    &__version {
        position: absolute;
        bottom: 20px;
        left: 0;
        text-align: center;
        width: 100%;
        opacity: 0.4;
    }
}