.game-button {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Sonic Logo';
    border-radius: 10px;
    transition: all 0.15s;
    &:active {
        transform: scale(0.92, 0.92);
    }
    &_board {
        width: 190px;
        height: 60px;
        font-size: 16px;
        text-align: center;
        color: #fff;
        background-color: #e5001c;
        border-bottom: 2px solid #7c0909;
    }
    &_store {
        width: 190px;
        height: 60px;
        font-size: 16px;
        text-align: center;
        color: #fff;
        background-color: #1c3ca1;
        border-bottom: 2px solid #121727;
    }
    &_exit {
        width: 40px;
        height: 40px;
        background-color: #e5001c;
        border-bottom: 2px solid #7c0909;
        img {
            position: relative;
            width: 16px;
        }
    }
    &_diff {
        width: 40px;
        height: 40px;
        background-color: #1c3ca1;
        border-bottom: 2px solid #121727;
        img {
            position: relative;
            width: 22px;
        }
    }
    &_popup-ok {
        width: 170px;
        height: 60px;
        margin-top: 30px;
        background-color: #e5001c;
        font-size: 16px;
        color: #fff;
        border-bottom: 2px solid #7c0909;
        @media only screen and (0 <= width <= 389px) {
            margin-top: 0;
        }
    }
    &_retry {
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 10px;
        width: 170px;
        height: 60px;
        font-size: 16px;
        color: #fff;
        background-color: #1c3ca1;
        border-bottom: 2px solid #121727;
        img {
            position: relative;
            width: 24px;
        }
    }
}