.game-button {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Sonic Logo';
    border-radius: 10px;
    transition: all 0.15s;
    &:active {
        transform: scale(0.92, 0.92);
    }
    &_board {
        width: 190px;
        height: 60px;
        font-size: 16px;
        text-align: center;
        color: #fff;
        background-color: #e5001c;
        border-bottom: 2px solid #7c0909;
    }
    &_store {
        width: 190px;
        height: 60px;
        font-size: 16px;
        text-align: center;
        color: #fff;
        background-color: #1c3ca1;
        border-bottom: 2px solid #121727;
    }
    &_exit {
        width: 40px;
        height: 40px;
        background-color: #e5001c;
        border-bottom: 2px solid #7c0909;
        img {
            position: relative;
            width: 16px;
        }
    }
    &_diff {
        width: 40px;
        height: 40px;
        background-color: #1c3ca1;
        border-bottom: 2px solid #121727;
        img {
            position: relative;
            width: 22px;
        }
    }
    &_popup-ok {
        width: 170px;
        height: 60px;
        margin-top: 30px;
        background-color: #e5001c;
        border-bottom: 2px solid #7c0909;
        font-size: 16px;
        color: #fff;
        @media only screen and (0 <= width <= 389px) {
            margin-top: 0;
        }
    }
    &_retry {
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 10px;
        width: 170px;
        height: 60px;
        font-size: 16px;
        color: #fff;
        background-color: #1c3ca1;
        border-bottom: 2px solid #121727;
        img {
            position: relative;
            width: 24px;
        }
    }
    &_up {
        width: 160px;
        height: 60px;
        background-color: #dd820a;
        border-bottom: 2px solid #53271c;
        font-size: 16px;
        color: #fff;
    }
    &_up-lock {
        width: 160px;
        height: 60px;
        background-color: #dd820a;
        border-bottom: 2px solid #53271c;
        font-size: 16px;
        color: #fff;
        pointer-events: none;
        span {
            opacity: 0.25;
        }
    }
    &_buy-pokemon, &_buy-diff {
        height: 40px;
        font-size: 12px;
        color: #fff;
        background-color: #1c3ca1;
        border-bottom: 2px solid #121727;
        padding-left: 14px;
        padding-right: 14px;
    }
    &_buy-pokemon-lock, &_buy-diff-lock  {
        height: 40px;
        font-size: 12px;
        color: #fff;
        background-color: #1c3ca1;
        border-bottom: 2px solid #121727;
        padding-left: 14px;
        padding-right: 14px;
        pointer-events: none;
        span {
            opacity: 0.25;
        }
    }
    &_diff-btn {
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 200px;
        height: 60px;
        background-color: #1c3ca1;
        border-bottom: 2px solid #121727;
        gap: 6px;
        font-size: 16px;
        color: #fff;
        text-align: center;
        &:disabled {
            opacity: 0.3;
        }
    }
    &_diff-btn-checked {
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 200px;
        height: 60px;
        background-color: #e5001c;
        border-bottom: 2px solid #7c0909;
        gap: 6px;
        font-size: 16px;
        color: #fff;
        text-align: center;
        img {
            position: absolute;
            top: 50%;
            right: 10px;
            transform: translateY(-50%);
            width: 24px;
        }
    }
    &_attack-player {
        width: 120px;
        height: 60px;
        background-color: #e5001c;
        border-bottom: 2px solid #7c0909;
        font-size: 16px;
        color: #fff;
        text-align: center;
    }
    &_attack-player-lock {
        width: 120px;
        height: 60px;
        background-color: #272727;
        border-bottom: 2px solid #3F3E3E;
        color: #313131;
        pointer-events: none;
        font-size: 16px;
        text-align: center;
    }
    &_sound {
        width: 60px;
        height: 60px;
        background-color: #dd820a;
        border-bottom: 2px solid #53271c;
        font-size: 16px;
        color: #fff;
    }
}