.popup {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100dvh;
    z-index: 98;
    backdrop-filter: blur(8px);
    box-shadow: 0 2px 7px 7px rgba(23, 23, 23, 0.1);
    background: rgba(0,0,0,0.5);
    transition: opacity 0.4s;
    &__cont {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        gap: 30px;
    }
    &__title {
        position: relative;
        font-family: 'Sonic Logo';
        font-size: 28px;
        &_small {
            font-size: 18px; 
        }
    }
    &__text-wrapper {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 360px;
        height: 438px;
        overflow-y: auto;
        background-color: rgb(10 10 10 / 50%);
        border-radius: 12px;
    }
    &__text-wrap {
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
        width: 100%;
        padding-top: 30px;
        padding-bottom: 30px;
    }
    &__text {
        position: relative;
        font-family: "Lack", sans-serif;
        font-weight: 400;
        font-size: 12px;
        color: rgba(255, 255, 255, 0.7);
        text-align: center;
        line-height: 144%;
        b {
            font-family: 'Sonic Logo';
            color: #ffffff;
        }
        img {
            position: relative;
            top: 4px;
            display: inline-block;
            width: 16px;
        }
    }
    &__started-pokemon {
        position: relative;
        width: 180px;
        @media only screen and (0 <= width <= 389px) {
            width: 120px;
        }
    }
    &__indicate-enemy {
        position: relative;
    }
    &__win-coins {
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 6px;
        font-family: 'Sonic Logo';
        font-size: 20px;
        img {
            position: relative;
            width: 24px;
            margin-right: 6px;
        }
    }
    &__buttons {
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }
}