:root {
  font-family: "Open Sans", sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --padding-mobile: 0 15px 0 15px;
}

@font-face {
  font-family: 'Sonic Logo';
  src: url('/fonts/SonicLogo-Bold.woff2') format('woff2'),
      url('/fonts/SonicLogo-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

* {
  box-sizing: border-box;
}

body {
  position: relative;
  margin: 0 auto;
  padding: 0;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 500px;
  height: 100%;
  background-image: url("/img/MainFon/main_fon.png");
  background-size: cover;
  color: #ffffff;
}

body::after{
  position: absolute;
  width: 0; 
  height: 0; 
  overflow:hidden; 
  z-index:-9999; 
//   content:
//   // pokemons
//     url("img/PokemonCards/Charmander.png")
//     url("img/PokemonCards/Charmillion.png")
//     url("img/PokemonCards/Caterpie.png")
//     url("img/PokemonCards/Metapod.png")
//     url("img/PokemonCards/Poliwag.png")
//     url("img/PokemonCards/Sandshrew.png")
//     url("img/PokemonCards/Abra.png")
//     url("img/PokemonCards/Meowth.png")
//     url("img/PokemonCards/Pikachu.png")
//   // enemies
//     url("img/PokemonEnemyCards/Raticate.png")
//     url("img/PokemonEnemyCards/Voltorb.png")
//     url("img/PokemonEnemyCards/Beedrill.png")
//   // store
//     url("img/PokemonCardsWithHp/Charmander_HP.png")
//     url("img/PokemonCardsWithHp/Charmillion.png")
//     url("img/PokemonCardsWithHp/Caterpie_HP.png")
//     url("img/PokemonCardsWithHp/Metapod_HP.png")
//     url("img/PokemonCardsWithHp/Poliwag_HP.png")
//     url("img/PokemonCardsWithHp/Sandshrew_HP.png")
//     url("img/PokemonCardsWithHp/Abra_HP.png")
//     url("img/PokemonCardsWithHp/Meowth_HP.png")
//     url("img/PokemonCardsWithHp/Pikachu_HP.png")
//   // energies
//     url("/img/EnergyCards/flame_energy.png")
//     url("/img/EnergyCards/electric_energy.png")
//     url("/img/EnergyCards/hydro_energy.png")
//     url("/img/EnergyCards/plane_energy.png")
//     url("/img/EnergyCards/psy_energy.png")
//     url("/img/EnergyCards/strong_energy.png")
//     url("/img/EnergyCards/normal_energy.png")
//     url("/img/Icons/electric_icon.svg")
//     url("/img/Icons/flame_icon.svg")
//     url("/img/Icons/psy_icon.svg")
//     url("/img/Icons/strong_icon.svg")
//     url("/img/Icons/hydro_icon.svg")
//     url("/img/Icons/plane_icon.svg")
//     url("/img/Icons/normal_icon.svg")
//   // effects
//     url("/img/Effects/burn.svg")
//     url("/img/Effects/electric.svg")
//     url("/img/Effects/hydro.svg")
//     url("/img/Effects/plane.svg")
//     url("/img/Effects/psy.svg")
//     url("/img/Effects/strong.svg")
//     url("/img/Effects/normal.svg")
//   // other icons 
//     url("/img/Icons/cards_icon.svg")
//     url("/img/Icons/exit_icon.svg")
//     url("/img/Icons/main_logo.png")
//     url("/img/Icons/replay_icon.svg")
//     url("/img/Icons/pokecoin_icon.svg")
//   ;
}

#root {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100dvh;
}

main {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

h1, h2, h3, h4, h5, h6, p {
  font-weight: inherit; 
  font-size: inherit; 
  user-select: none; 
  margin: 0;
  padding: 0;
}

a {
  width: auto;
  color: inherit;
  text-decoration: none;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

button {
  font-family: "Open Sans", sans-serif;
  background: none; 
  border: none; 
  padding: 0;
  color: inherit;
}

.container {
  width: 100%;
}

footer {
  position: absolute;
  bottom: 20px;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 16px;
  font-weight: 300;
  opacity: 0.4;
}
