.preload-imgs {
    position: absolute;
    width: 0; 
    height: 0; 
    overflow: hidden; 
    z-index: -9999;
    content:
    // Pokemons GAME
        url("/img/PokemonCards/Abra.png")
        url("/img/PokemonCards/Alakazam.png")
        url("/img/PokemonCards/Arbok.png")
        url("/img/PokemonCards/Arcanine.png")
        url("/img/PokemonCards/Beedrill.png")
        url("/img/PokemonCards/Blastoise.png")
        url("/img/PokemonCards/Bulbasaur.png")
        url("/img/PokemonCards/Butterfree.png")
        url("/img/PokemonCards/Caterpie.png")
        url("/img/PokemonCards/Charizard.png")
        url("/img/PokemonCards/Charmander.png")
        url("/img/PokemonCards/Charmillion.png")
        url("/img/PokemonCards/Clefable.png")
        url("/img/PokemonCards/Clefairy.png")
        url("/img/PokemonCards/Cloyster.png")
        url("/img/PokemonCards/Cubone.png")
        url("/img/PokemonCards/Dewgong.png")
        url("/img/PokemonCards/Diglett.png")
        url("/img/PokemonCards/Dodrio.png")
        url("/img/PokemonCards/Doduo.png")
        url("/img/PokemonCards/Drowzee.png")
        url("/img/PokemonCards/Dugtrio.png")
        url("/img/PokemonCards/Ekans.png")
        url("/img/PokemonCards/Exeggcute.png")
        url("/img/PokemonCards/Exeggutor.png")
        url("/img/PokemonCards/Fearow.png")
        url("/img/PokemonCards/Geodude.png")
        url("/img/PokemonCards/Gloom.png")
        url("/img/PokemonCards/Golduck.png")
        url("/img/PokemonCards/Golem.png")
        url("/img/PokemonCards/Graveler.png")
        url("/img/PokemonCards/Grimer.png")
        url("/img/PokemonCards/Growlithe.png")
        url("/img/PokemonCards/Hitmonchan.png")
        url("/img/PokemonCards/Hitmonlee.png")
        url("/img/PokemonCards/Hypno.png")
        url("/img/PokemonCards/Ivysaur.png")
        url("/img/PokemonCards/Jigglypuff.png")
        url("/img/PokemonCards/Jynx.png")
        url("/img/PokemonCards/Kadabra.png")
        url("/img/PokemonCards/Kakuna.png")
        url("/img/PokemonCards/Kingler.png")
        url("/img/PokemonCards/Krabby.png")
        url("/img/PokemonCards/Lickitung.png")
        url("/img/PokemonCards/Machamp.png")
        url("/img/PokemonCards/Machoke.png")
        url("/img/PokemonCards/Machop.png")
        url("/img/PokemonCards/Magnemite.png")
        url("/img/PokemonCards/Magneton.png")
        url("/img/PokemonCards/Mankey.png")
        url("/img/PokemonCards/Marowak.png")
        url("/img/PokemonCards/Meowth.png")
        url("/img/PokemonCards/Metapod.png")
        url("/img/PokemonCards/Muk.png")
        url("/img/PokemonCards/Nidoking.png")
        url("/img/PokemonCards/Nidoqueen.png")
        url("/img/PokemonCards/Nidoran-m.png")
        url("/img/PokemonCards/Nidoran-w.png")
        url("/img/PokemonCards/Nidorina.png")
        url("/img/PokemonCards/Nidorino.png")
        url("/img/PokemonCards/Ninetales.png")
        url("/img/PokemonCards/Oddish.png")
        url("/img/PokemonCards/Onix.png")
        url("/img/PokemonCards/Paras.png")
        url("/img/PokemonCards/Parasect.png")
        url("/img/PokemonCards/Persian.png")
        url("/img/PokemonCards/Pidgeot.png")
        url("/img/PokemonCards/Pidgeotto.png")
        url("/img/PokemonCards/Pidgey.png")
        url("/img/PokemonCards/Pikachu.png")
        url("/img/PokemonCards/Poliwag.png")
        url("/img/PokemonCards/Poliwhirl.png")
        url("/img/PokemonCards/Poliwrath.png")
        url("/img/PokemonCards/Ponyta.png")
        url("/img/PokemonCards/Primeape.png")
        url("/img/PokemonCards/Psyduck.png")
        url("/img/PokemonCards/Raichu.png")
        url("/img/PokemonCards/Rapidash.png")
        url("/img/PokemonCards/Rhydon.png")
        url("/img/PokemonCards/Rhyhorn.png")
        url("/img/PokemonCards/Sandshrew.png")
        url("/img/PokemonCards/Sandslash.png")
        url("/img/PokemonCards/Seel.png")
        url("/img/PokemonCards/Shellder.png")
        url("/img/PokemonCards/Slowbro.png")
        url("/img/PokemonCards/Slowpoke.png")
        url("/img/PokemonCards/Spearow.png")
        url("/img/PokemonCards/Squirtle.png")
        url("/img/PokemonCards/Starmie.png")
        url("/img/PokemonCards/Staryu.png")
        url("/img/PokemonCards/Tentacool.png")
        url("/img/PokemonCards/Tentacruel.png")
        url("/img/PokemonCards/Venomoth.png")
        url("/img/PokemonCards/Venonat.png")
        url("/img/PokemonCards/Venusaur.png")
        url("/img/PokemonCards/Victreebel.png")
        url("/img/PokemonCards/Vileplume.png")
        url("/img/PokemonCards/Vulpix.png")
        url("/img/PokemonCards/Wartortle.png")
        url("/img/PokemonCards/Weedle.png")
        url("/img/PokemonCards/Weepinbell.png")
        url("/img/PokemonCards/Wigglytuff.png")
    // Pokemons STORE
        url("/img/PokemonCardsWithHp/Abra_HP.png")
        url("/img/PokemonCardsWithHp/Alakazam_HP.png")
        url("/img/PokemonCardsWithHp/Arbok_HP.png")
        url("/img/PokemonCardsWithHp/Arcanine_HP.png")
        url("/img/PokemonCardsWithHp/Beedrill_HP.png")
        url("/img/PokemonCardsWithHp/Blastoise_HP.png")
        url("/img/PokemonCardsWithHp/Bulbasaur_HP.png")
        url("/img/PokemonCardsWithHp/Butterfree_HP.png")
        url("/img/PokemonCardsWithHp/Caterpie_HP.png")
        url("/img/PokemonCardsWithHp/Charizard_HP.png")
        url("/img/PokemonCardsWithHp/Charmander_HP.png")
        url("/img/PokemonCardsWithHp/Charmillion_HP.png")
        url("/img/PokemonCardsWithHp/Clefable_HP.png")
        url("/img/PokemonCardsWithHp/Clefairy_HP.png")
        url("/img/PokemonCardsWithHp/Cloyster_HP.png")
        url("/img/PokemonCardsWithHp/Cubone_HP.png")
        url("/img/PokemonCardsWithHp/Dewgong_HP.png")
        url("/img/PokemonCardsWithHp/Diglett_HP.png")
        url("/img/PokemonCardsWithHp/Dodrio_HP.png")
        url("/img/PokemonCardsWithHp/Doduo_HP.png")
        url("/img/PokemonCardsWithHp/Drowzee_HP.png")
        url("/img/PokemonCardsWithHp/Dugtrio_HP.png")
        url("/img/PokemonCardsWithHp/Ekans_HP.png")
        url("/img/PokemonCardsWithHp/Exeggcute_HP.png")
        url("/img/PokemonCardsWithHp/Exeggutor_HP.png")
        url("/img/PokemonCardsWithHp/Fearow_HP.png")
        url("/img/PokemonCardsWithHp/Geodude_HP.png")
        url("/img/PokemonCardsWithHp/Gloom_HP.png")
        url("/img/PokemonCardsWithHp/Golduck_HP.png")
        url("/img/PokemonCardsWithHp/Golem_HP.png")
        url("/img/PokemonCardsWithHp/Graveler_HP.png")
        url("/img/PokemonCardsWithHp/Grimer_HP.png")
        url("/img/PokemonCardsWithHp/Growlithe_HP.png")
        url("/img/PokemonCardsWithHp/Hitmonchan_HP.png")
        url("/img/PokemonCardsWithHp/Hitmonlee_HP.png")
        url("/img/PokemonCardsWithHp/Hypno_HP.png")
        url("/img/PokemonCardsWithHp/Ivysaur_HP.png")
        url("/img/PokemonCardsWithHp/Jigglypuff_HP.png")
        url("/img/PokemonCardsWithHp/Jynx_HP.png")
        url("/img/PokemonCardsWithHp/Kadabra_HP.png")
        url("/img/PokemonCardsWithHp/Kakuna_HP.png")
        url("/img/PokemonCardsWithHp/Kingler_HP.png")
        url("/img/PokemonCardsWithHp/Krabby_HP.png")
        url("/img/PokemonCardsWithHp/Lickitung_HP.png")
        url("/img/PokemonCardsWithHp/Machamp_HP.png")
        url("/img/PokemonCardsWithHp/Machoke_HP.png")
        url("/img/PokemonCardsWithHp/Machop_HP.png")
        url("/img/PokemonCardsWithHp/Magnemite_HP.png")
        url("/img/PokemonCardsWithHp/Magneton_HP.png")
        url("/img/PokemonCardsWithHp/Mankey_HP.png")
        url("/img/PokemonCardsWithHp/Marowak_HP.png")
        url("/img/PokemonCardsWithHp/Meowth_HP.png")
        url("/img/PokemonCardsWithHp/Metapod_HP.png")
        url("/img/PokemonCardsWithHp/Muk_HP.png")
        url("/img/PokemonCardsWithHp/Nidoking_HP.png")
        url("/img/PokemonCardsWithHp/Nidoqueen_HP.png")
        url("/img/PokemonCardsWithHp/Nidoran-m_HPpng")
        url("/img/PokemonCardsWithHp/Nidoran-w_HP.png")
        url("/img/PokemonCardsWithHp/Nidorina_HP.png")
        url("/img/PokemonCardsWithHp/Nidorino_HP.png")
        url("/img/PokemonCardsWithHp/Ninetales_HP.png")
        url("/img/PokemonCardsWithHp/Oddish_HP.png")
        url("/img/PokemonCardsWithHp/Onix_HP.png")
        url("/img/PokemonCardsWithHp/Paras_HP.png")
        url("/img/PokemonCardsWithHp/Parasect_HP.png")
        url("/img/PokemonCardsWithHp/Persian_HP.png")
        url("/img/PokemonCardsWithHp/Pidgeot_HP.png")
        url("/img/PokemonCardsWithHp/Pidgeotto_HP.png")
        url("/img/PokemonCardsWithHp/Pidgey_HP.png")
        url("/img/PokemonCardsWithHp/Pikachu_HP.png")
        url("/img/PokemonCardsWithHp/Poliwag_HP.png")
        url("/img/PokemonCardsWithHp/Poliwhirl_HP.png")
        url("/img/PokemonCardsWithHp/Poliwrath_HP.png")
        url("/img/PokemonCardsWithHp/Ponyta_HP.png")
        url("/img/PokemonCardsWithHp/Primeape_HP.png")
        url("/img/PokemonCardsWithHp/Psyduck_HP.png")
        url("/img/PokemonCardsWithHp/Raichu_HP.png")
        url("/img/PokemonCardsWithHp/Rapidash_HP.png")
        url("/img/PokemonCardsWithHp/Rhydon_HP.png")
        url("/img/PokemonCardsWithHp/Rhyhorn_HP.png")
        url("/img/PokemonCardsWithHp/Sandshrew_HP.png")
        url("/img/PokemonCardsWithHp/Sandslash_HP.png")
        url("/img/PokemonCardsWithHp/Seel_HP.png")
        url("/img/PokemonCardsWithHp/Shellder_HP.png")
        url("/img/PokemonCardsWithHp/Slowbro_HP.png")
        url("/img/PokemonCardsWithHp/Slowpoke_HP.png")
        url("/img/PokemonCardsWithHp/Spearow_HP.png")
        url("/img/PokemonCardsWithHp/Squirtle_HP.png")
        url("/img/PokemonCardsWithHp/Starmie_HP.png")
        url("/img/PokemonCardsWithHp/Staryu_HP.png")
        url("/img/PokemonCardsWithHp/Tentacool_HP.png")
        url("/img/PokemonCardsWithHp/Tentacruel_HP.png")
        url("/img/PokemonCardsWithHp/Venomoth_HP.png")
        url("/img/PokemonCardsWithHp/Venonat_HP.png")
        url("/img/PokemonCardsWithHp/Venusaur_HP.png")
        url("/img/PokemonCardsWithHp/Victreebel_HP.png")
        url("/img/PokemonCardsWithHp/Vileplume_HP.png")
        url("/img/PokemonCardsWithHp/Vulpix_HP.png")
        url("/img/PokemonCardsWithHp/Wartortle_HP.png")
        url("/img/PokemonCardsWithHp/Weedle_HP.png")
        url("/img/PokemonCardsWithHp/Weepinbell_HP.png")
        url("/img/PokemonCardsWithHp/Wigglytuff_HP.png")
    // Enemies
        url("/img/PokemonEnemyCards/Aerodactyl.png")
        url("/img/PokemonEnemyCards/Farfetch'd.png")
        url("/img/PokemonEnemyCards/Gastly.png")
        url("/img/PokemonEnemyCards/Gengar.png")
        url("/img/PokemonEnemyCards/Gyarados.png")
        url("/img/PokemonEnemyCards/Haunter.png")
        url("/img/PokemonEnemyCards/Kabutops.png")
        url("/img/PokemonEnemyCards/Mewtwo.png")
        url("/img/PokemonEnemyCards/Pinsir.png")
        url("/img/PokemonEnemyCards/Raticate.png")
        url("/img/PokemonEnemyCards/Rattata.png")
        url("/img/PokemonEnemyCards/Tangela.png")
        url("/img/PokemonEnemyCards/Voltorb.png")
        url("/img/PokemonEnemyCards/Weezing.png")
        url("/img/PokemonEnemyCards/Zapdos.png")
        url("/img/PokemonEnemyCards/Zubat.png")
    // Energies
        url("/img/EnergyCards/electric_energy.png")
        url("/img/EnergyCards/flame_energy.png")
        url("/img/EnergyCards/hydro_energy.png")
        url("/img/EnergyCards/normal_energy.png")
        url("/img/EnergyCards/plane_energy.png")
        url("/img/EnergyCards/psy_energy.png")
        url("/img/EnergyCards/strong_energy.png")
    // Energies Icons
        url("/img/Icons/electric_icon.svg")
        url("/img/Icons/flame_icon.svg")
        url("/img/Icons/hydro_icon.svg")
        url("/img/Icons/normal_icon.svg")
        url("/img/Icons/plane_icon.svg")
        url("/img/Icons/psy_icon.svg")
        url("/img/Icons/strong_icon.svg")
    // Energies Effects
        url("/img/Effects/psy.svg")
        url("/img/Effects/burn.svg")
        url("/img/Effects/strong.svg")
        url("/img/Effects/plane.svg")
        url("/img/Effects/hydro.svg")
        url("/img/Effects/normal.svg")
        url("/img/Effects/electric.svg")    
    ;
}